.signed-in-info p {
   font-size: 14px;
   margin: .6rem 0;
}

.form-heading {
  text-align: center;
  margin: 1.5rem 0 1rem;
}

#addRecipeForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input:focus, textarea:focus, select:focus {
   outline: 3px solid forestgreen;
}

.invalid {
   outline: 3px solid #ff310c;
}

.form-recipe-info {
   display: flex;
   flex-direction: column;
   width: calc(50% - 2rem);
   padding: 1rem;
}

.form-recipe-info label, .form-ingredient-info label {
  display: block;
  font-weight: 500;
  padding: .5rem .5rem .5rem 0;
}

.form-recipe-info input, .form-recipe-info textarea, .form-ingredient-info input, .form-ingredient-info select {
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  border: 1px solid black;
  border-radius: .25rem;
}

.form-recipe-info input[type=file] {
   background-color: white;
   height: 33px;
   border: 1px solid black;
}

fieldset {
   position: relative;
}

.form-ingredients-wrapper {
   width: calc(100% + 2rem);
   background-color: #d2e7d2;
   padding: 1.5rem 1.2rem;
   margin: 1.5rem -1rem;
}

.form-ingredients-wrapper h3, .form-recipe-instructions h3 {
   text-align: center;
   margin-top: 0;
}

.add-ingredient-button {
   display: block;
   margin: 2rem auto 0;
}

.form-ingredients-list li {
   margin-bottom: 1rem;
}

.form-ingredient-info {
   display: flex;
   flex-direction: column;
}

.form-ingredient-index {
   font-family: 'Abril Fatface';
   padding: .5rem 1.5rem 0 0;
}

.form-recipe-instructions {
   width: 100%;
   text-align: center;
}

.form-recipe-instructions textarea {
   width: 100%;
   box-sizing: border-box;
   padding: .5rem;
   border: 1px solid black;
   border-radius: .25rem;
}

.remove-ingredient {
   position: absolute;
   top: .25rem;
   right: .68rem;
   background-color: #ff310c;
   transition: all .2s;
}

.remove-ingredient:hover, .remove-ingredient:focus {
   background-color: #bd1d00;
}

.submit-wrapper {
   width: 100%;
   text-align: center;
   margin: 3rem 0 1rem;
}
@media screen and (min-width: 576px) {
   .form-recipe-info {
      width: calc(50% - 4rem);
      padding: 1rem 1.5rem;
   }
   .form-ingredients-wrapper {
      width: calc(100% + 4rem);
      padding: 2.5rem 3rem;
      margin: 2.5rem -2rem;
   }
   .form-recipe-info input, .form-recipe-info textarea {
     flex-grow: 1;
     width: auto;
   }
   .form-ingredients-wrapper fieldset {
      display: flex;
      justify-content: center;
      border: none;
   }
   .form-ingredient-info {
      width: calc(100% / 3);
   }
   .form-ingredient-info {
      padding-right: 1.5rem;
   }
   .form-ingredient-info:last-of-type {
      padding-right: 4rem;
   }
   .remove-ingredient {
      top: auto;
      bottom: .7rem;
   }
  .form-recipe-instructions {
     width: 90%;
 }
}
@media screen and (min-width: 768px) {
   .form-heading {
     margin-bottom: 1rem 0 2.5rem;
   }
   .form-recipe-info {
      flex-direction: row;
   }
   .form-recipe-info label {
     display: inline-block;
     padding: .5rem .5rem 0 0;
   }
   .add-ingredient-button {
      margin: 2.5rem auto 0;
   }
   .form-ingredient-info {
      padding-right: 2.5rem;
   }
   .form-ingredient-info:last-of-type {
      padding-right: 5rem;
   }
   .form-ingredient-info input, .form-ingredient-info select {
     flex-grow: 1;
     width: auto;
   }
  .form-recipe-instructions {
     width: 82%;
 }
}
@media screen and (min-width: 992px) {
   .form-ingredients-wrapper {
      text-align: center;
   }
   .form-ingredient-info {
      flex-direction: row;
   }
   .form-ingredient-info label {
     display: inline-block;
     padding: .5rem .5rem 0 0;
   }
   .form-recipe-instructions {
      width: 75%;
  }
}
